<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp Example</title>
</head>

<body>
  <%- include ('partials/_header') %>
    <h1 style="text-align: center;">Welcome to the LOGIN page</h1>
    <% if(userid) { %>
      <h5 style="margin: left;">Logged In As: <%= users[userid].email %></h5>
      <form class="form-inline" action="/logout" method="POST">
        <button type="submit" class="btn btn-secondary">Logout</button>
      </form>
      <% } else { %>
        <form class="form-inline" action="/login" method="POST">
          <span>
            <label for="email">Email</label>
            <input style="text-align: center;" class="form-control" name="email" placeholder="Enter email">
          </span>
          <span>
            <label for="password">Password</label>
            <input style="text-align: center; margin-left: 1em" class="form-control" name="password" type="password" placeholder="Enter password">
            <button style="text-align: center;" type="submit" class="btn btn-primary">Login</button>
          </span>
        </form>
        <% } %>

</body>

</html>