<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp Example</title>
</head>

<body>
  <%- include ('partials/_header') %>
    <h1 class="text-center">Create Account</h1>
    <form class="form-inline" action="/register" method="POST">
      <span>
        <label class="text-center" for="email">Email</label>
        <input style="text-align: center;" class="form-control" type="email" name="email" placeholder="Enter email">
      </span>
      <span>
        <label for="password">Password</label>
        <input style="text-align: center; margin-left: 1em" class="form-control" type="password" name="password" placeholder="Enter password">
        <button style="text-align: center;" type="submit" class="btn btn-primary">Register</button>
      </span>
    </form>
</body>

</html>